@font-face {
    font-family: 'android';
    src: url('../fontes/idroid.otf') format('opentype');
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fontes/BebasNeue-Regular.ttf') format('truetype');
}